<div class="grid-container">
    <div class="grid-x">
        <h2>{{ 'DOWNLOADS'|t }}</h2>
        <table>
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="{{ createUrl('files', 'downloadLocal', {'name' : 'usearchlib-1.0.zip'}) }}">Unified Search PHP Library</a></td>
                <td><a href="{{ createUrl('files', 'downloadLocal', {'name' : 'usearchlib-1.0.zip'}) }}">v1.0</a></td>
                <td><a href="{{ createUrl('files', 'downloadLocal', {'name' : 'usearchlib-1.0.zip'}) }}"><i class="fa fa-download" aria-hidden="true"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>